#box {
  background-color: lightpink;
  width: 200px;
  height: 30px;
  border-radius: 10px;
}
#btn {
  background-color: navy;
  width: 150px;
  height: 40px;
  border-color: lightskyblue;
  border-radius: 5px;
  color: white;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}
